:_content-type: REFERENCE
[id="{{ id }}"]
= {{ title }}

{{ introduction | default(omit) }}

{% for issue in vars -%}
[id="{{ issue.fields.customfield_12320850 | lower | replace(" ", "-") }}-{{ issue.key | lower }}"]
== {{ issue.fields.summary }}

{{ issue.fields.customfield_12317313 }}

{% if template == "with-jira-link" -%}
.Additional resources
* link:https://issues.redhat.com/browse/{{ issue.key }}[{{ issue.key }}]

{% endif -%}
{% endfor -%}
{% if not vars -%}
None.
{% endif -%}
