:_content-type: REFERENCE
[id="{{ id }}"]
= {{ title }}

{{ introduction | default(omit) }}
{% for issue in vars -%}
{% if template == "with-z-stream-section" -%}
{% set fixversion = issue.fields.fixVersions[0].name -%}
{% if loop.previtem is not defined or fixversion != loop.previtem.fields.fixVersions[0].name -%}
== {{ title }} in {{ fixversion }}
{% endif %}
[id="{{ issue.fields.customfield_12320850 | lower | replace(" ", "-") }}-{{ issue.key | lower }}"]
=== {{ issue.fields.summary }}
{% else -%}
[id="{{ issue.fields.customfield_12320850 | lower | replace(" ", "-") }}-{{ issue.key | lower }}"]
== {{ issue.fields.summary }}
{% endif %}
{{ issue.fields.customfield_12317313 }}
{% if template == "with-jira-link" or template == "with-z-stream-section" %}

.Additional resources
* link:https://issues.redhat.com/browse/{{ issue.key }}[{{ issue.key }}]
{% endif %}
{% endfor %}
{% if not vars -%}
None.
{% endif -%}
