#
# Copyright (c) 2023 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: GitHub Pages

on:
  push:
    branches: 
    - main

jobs:
  adoc_build:
    name: Asciidoctor Build For GH Pages
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup environment
      run: |
        # update
        sudo apt-get update -y || true
        # install 
        sudo apt-get -y -q install asciidoctor && asciidoctor --version
        echo "GIT_BRANCH=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_ENV
        echo "Building branch ${{ env.GIT_BRANCH }}"

    - name: Build guides and indexes
      run: |
        build/scripts/build.sh -b main

    # repo must be public for this to work
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      # if: github.ref == 'refs/heads/main'
      with:
        github_token: ${{ secrets.RHDH_BOT_TOKEN }}
        publish_branch: gh-pages
        publish_dir: ./titles-generated
        # TODO might need to put each branch in its own subfolder to avoid collding with PR branches
        # then need to regenerate the root index.html with links to branches/PRs?
        # destination_dir: ./${{ env.GIT_BRANCH }}
